@layer theme, base, clerk, components, utilities; /* Ensure Clerk is compatible with Tailwind CSS v4 */

@import 'tailwindcss';

/* RealScout Home Value Widget Styles */
realscout-home-value {
  --rs-hvw-background-color: #ffffff;
  --rs-hvw-title-color: #000000;
  --rs-hvw-subtitle-color: rgba(28, 30, 38, 0.5);
  --rs-hvw-primary-button-text-color: #ffffff;
  --rs-hvw-primary-button-color: rgb(35, 93, 137);
  --rs-hvw-secondary-button-text-color: rgb(35, 93, 137);
  --rs-hvw-secondary-button-color: #ffffff;
  --rs-hvw-widget-width: auto;
}

/* RealScout Listings Widgets (Condo + Single Family Homes) */
realscout-office-listings {
  --rs-listing-divider-color: #0e64c8;
  width: 100%;
}